.my-work-container{
    display:flex;
    flex-direction:column;
    gap:80px;
    align-items: center;
    padding:50px 50px 10px 50px;
}
.my-work-heading{
    font-size:50px;
    font-weight: 800;
    position:absolute;
}
.my-work-theme{
    position:relative;
    top:-1px;
    z-index:-1;
}
.work-details-container{
    display:grid;
    gap: 25px;
    grid-template-columns: 1fr 1fr 1fr;
}
.work-card{
    display: flex;
    align-items: center;
    justify-content: center;
    border:2px solid white;
    border-radius:50px;
    height:300px;
    width:300px;
    border-radius:50px;
    background-color: transparent;
    transition: 0.5s;
}
.work-card>img:hover{
    transform: scale(1.05);
}
.work-card img{
    border-radius:50px;
    width:100%;
    height:100%;
    z-index:-1;
    object-fit: cover;
    transition: 0.5s;
}
.show-more{
    font-family: "outfit";
    color:white;
    font-weight:500;
    text-align: center;
    font-size: 20px;
    display: flex;
    gap:10px;
    padding:20px;
    border-radius:50px;
    background-color: transparent;
    transition: 0.5s;
    cursor: pointer;
}
.show-more:hover{
    gap:20px;
}
.work-card:hover{
    transform: scale(1.05);
    background: linear-gradient(45deg,#3f0028,#582300);
}